// $font-family-sans-serif:'Open Sans', sans-serif;
// $card-border-radius: 2rem;

$danger:#d63733;
$warning: #dddb5e;
$primary: #24478c;
// $success: #64e444;
$success: #41B64C;
@font-face {
    font-family: "riffic";
    src: url("/fonts/riffic/riffic-bold-webfont.woff") format("woff");
}

.bg-theme-secondary {
    background-color: rgba(75, 81, 147, 0.5) !important;
    border-color: RGB(52, 56, 111) !important;
}

// @import url(https://fonts.googleapis.com/css?family=Quicksand);


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif!important;
}

.opacity-90{
    opacity: 0.9!important;
}

$font-family-sans-serif: "Nunito", sans-serif;
.font-riffic {
    font-family: riffic;
}

.font-gradient-theme {
    background: linear-gradient(to bottom, #ce6544 0%, #f6d146 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.google-map {
    border-radius: 0.3rem;
}

.logo-client {
    max-height: 110px;
}
.logo-client-small {
    max-height: 50px;
}

.top-60 {
    position: relative;
    top: -60px;
}
.btn-warning {
    color: #f4f4f4 !important;
    font-weight: bold !important;
}
.btn-group-toggle > .btn,
.btn-group-toggle > .btn-group > .btn {
    margin-bottom: 0.5rem !important;
}


.btn-outline-primary,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    //   color: #F4F4F4 !important;
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
}
.btn-outline-secondary,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
    //   color: #F4F4F4 !important;
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.btn-outline-success:not(:disabled):not(.disabled):active {
    background-color:  #F4F4F4!important;
    // border-color: $warning !important;
    color: $success !important;
}
.btn-outline-danger:not(:disabled):not(.disabled):active {
    background-color:  #F4F4F4!important;
    // border-color: $warning !important;
    color: $danger !important;
}



.btn-group-vertical,
.btn-group,
.btn-group-toggle > .btn {
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;


}
.btn-group-toggle > label.btn.active{
    background-color: $primary!important;
    color: #dae0e5!important;
}
.btn-group-toggle > label.btn{
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) {
    margin-left: 0.5rem !important;
}
.footer-custom {
    clear: both;
    position: relative;
    height: auto;
    width: 100vw;
    background-color: #f9af43;
    /* background-color: #2E3686 */
}

.first-footer {
    color: #f9af43 !important;

    &:after {
        content: "";
        position: absolute;
        right: -14px;
        top: 0px;
        width: 25px;
        height: 100%;
        display: block;
        background-color: $primary;
        transform: skew(-20deg);
    }
}
.fourth-footer:before {
    content: "";
    position: absolute;
    left: -10px;
    top: 0px;
    width: 20px;
    height: 100%;
    display: block;
    background-color: white;
    transform: skew(-20deg);
}
.fade-enter-active,
.fade-leave-active {
    transition-duration: 0.5s;
    transition-property: opacity;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

$slider-width: 100%;
$rail-height: 12px;
$rail-fill-color: $primary;



@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";
@import "~vue-range-slider/dist/vue-range-slider.scss";

